{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container login">
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">

      <h1 class="sign-in">{% trans "Sign In" %} <i class="fa-solid fa-angles-right"></i></h1>

      <p>
        {% blocktrans %} Welcome back to Ski Resorts! To give a resort rating or to leave a comment, 
        please log in.
        <br>
        If you haven't created an account yet, then
        <a href="{{ signup_url }}" class="sign-up">sign up</a> first.{% endblocktrans %}
      </p>

      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <a class="button secondaryAction forgot" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        <br>
        <button class="primaryAction btn btn-sign-in mt-2" type="submit">{% trans "Sign In" %}</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}