@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,300;0,400;0,500;0,600;1,400;1,500&family=Tilt+Neon&display=swap');

body {
    background-color: #eee;
}

/* Logo and Slogan */
.navbar-brand {
    font-family: Josefin Sans, Sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-style: italic;
    font-size: 1.8em;
}

.navbar-nav {
    font-family: Josefin Sans, sans-serif;
}

.btn-search {
    background-color: #E84610;
    color: #f8f9fa;
}

.btn-search:hover {
    background-color: #f8f9fa;
    color: #E84610;
}

.navbar-toggler {
    align-items: start;
    padding: 4px 7px;
}

.navbar-toggler-icon::before {
    color: #112B3C;
}

.nav-item {
    padding-top: 5px;
}

.nav-item a {
    font-weight: 500;
}

#navbarText {
    font-family: Josefin Sans, sans-serif;
    color: #E84610;
}

/* Background image */
.carousel-inner > .item {
    position: relative;
    max-height: 600px;
}
.carousel-caption {
    background-color: #ffffff6e;
    position: absolute;
    top: 15%;
    left: 1%;
    height: 28%;
    width: 60%;
    transform: translateY(-50%);
}

.carousel-inner img {
    opacity: 0.7;
}

.img-intro {
    color: #E84610;
    font-size: 2.5em;
    font-weight: 700;
    font-family: Josefin Sans, sans-serif;
    text-transform: uppercase;
}

.intro-exp {
    font-size: 1.2em;
    color: #E84610;
    font-family: Tilt Neon, sans-serif;
    padding: 5px;
}

#view-all {
    text-decoration: none;
    color: #fff;
    background-color: #E84610;
    font-size: 1em;
    font-style: italic;
    font-weight: 500;
    font-family: josefin sans, sans-serif;
    padding: 10px;
    text-transform: uppercase;
}

#view-all:hover {
    color:#112B3C;
    border-bottom: 1px solid #112B3C;
}

/* Card */


/* background colors */


.blue-o {
    color: #B7C4CF;
}

.light-bg {
    background-color: #fff;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.resort-link {
    color: #112B3C;
    margin: 4px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Josefin Sans, sans-serif;
}

.resort-link:hover {
    color: #E84610;
}

.resort-text {
    color: #112B3C;
    text-decoration: none;
    font-family: Josefin Sans, sans-serif;
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-org {
    font-size: 1em;
    background-color: #E84610;
    color: #eee;
    text-transform: uppercase;
    font-style: italic;
    font-family: Josefin Sans, sans-serif;
}

.btn-org:hover {
    background-color: #112B3C;
    color: #fff;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

/* footer */
footer {
    text-align: center;
}

.student {
    font-size: 0.7em;
    color: #5d646b;
}

.follow {
    color: #5d646b;
    font-family: Josefin Sans, Sans-serif;
    font-weight: 500;
    font-style: italic;
    text-transform: uppercase;
    font-size: 1em;
    text-align: center;
}

.social {
    font-size: 2em;
    color: #E84610;
}

.social i {
    padding: 5px;
}

.dropdown-menu {
    margin-bottom: 10px;
}

/* Media Queries */

@media screen and (max-width: 600px) {
    .img-intro {
        font-size: 1em;
    }

    .intro-exp {
        font-size: 0.8em;
    }

    #view-all {
        font-size: 0.8em;
    }
}

@media screen and (min-width: 750px) {
    .card-img-top {
    height: 15rem;
    object-fit: cover;
    }
}