@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,300;0,600;0,700;1,600&family=Rubik+Gemstones&display=swap');

body {
    background-color: #EEEEEE;
}

/* Logo and Slogan */

.logo {
    font-family: Rubik Gemstones, sans-serif;
    font-size: 2.5rem;
    color: #112B3C;
    line-height: 1;
    padding-top: 4px;
    position: absolute;
    top: 0;
    left: 20;
}

.slogan {
    font-family: Josefin Sans, sans-serif;
    font-weight: 300;
    font-size: smaller;
    color: #112B3C;
    padding-top: 7px;
    padding-bottom: 10px;
    position: absolute;
    top: 150;
    left: 20;
}

/* Navigation */

.navbar-toggler {
    align-items: start;
}

.navbar-toggler-icon {
    background-image: none;
}

.navbar-toggler-icon::before {
    color: #112B3C;
}

.nav-item {
    padding-top: 5px;
}

.nav-link {
    font-weight: bold;
}

#navbarText {
    font-family: Josefin Sans, sans-serif;
    color: #E84610;
}

/* Background image */
.carousel-inner > .item {
    position: relative;
    max-height: 600px;
}
.carousel-caption {
    background-color: #ffffff6e;
    position: absolute;
    top: 15%;
    left: 1%;
    height: 20%;
    width: 60%;
    transform: translateY(-50%);
}

.carousel-inner img {
    opacity: 0.7;
}

.img-intro {
    color: #E84610;
    font-size: 2.5em;
    font-weight: 700;
    font-family: Josefin Sans, sans-serif;
    text-transform: uppercase;
}

.intro-exp {
    font-size: 1.2em;
    font-weight: 400;
    font-family: Josefin Sans, sans-serif;
    padding: 5px;
}

#view-all {
    text-decoration: none;
    color: #fff;
    background-color: #E84610;
    font-size: 1rem;
    font-weight: 600;
    font-family: josefin sans, sans-serif;
    padding: 10px;
    text-transform: uppercase;
}

#view-all:hover {
    color:#112B3C;
    border-bottom: 1px solid #112B3C;
}


/* background colors */


.blue-o {
    color: #B7C4CF;
}

.light-bg {
    background-color: #fff;
}

.org-bg {
    background-color: #E84610;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.resort-link {
    color: #112B3C;
    margin: 4px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Josefin Sans, sans-serif;
}

.resort-link:hover {
    color: #E84610;
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

/* footer */

.footer {
    font-family: Josefin sans, sans-serif;
    font-size: 1.2em;
    color: #112B3C;
    font-weight: 400;
    text-transform: uppercase;
}
