{% extends 'base.html' %} {% block content %}

{% load static %}


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="{% static 'images/about.jpeg' %}" class="img-fluid img-thumbnail m-2"
                alt="">
        </div>
        <div class="col-md-6">
            <h1 class="heading mt-3">About us <i class="fa-solid fa-angles-right"></i></h1>
            <p>
                Aren't you tired of spending time around the internet trying to find a good ski resort that matches your needs?
            </p>
            <p>
                We are too. We imagined a place that could gather all ski resorts in one place and list amenities in a clean, easy and user-friendly way.
            </p>
            <p class="fw-bold">
                We created that place for you
                <i class="fa-solid fa-heart org"></i>
            </p>
        </div>
    </div>
</div>

{% endblock content %}