{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}

{% load static %}

<div class="container-fluid">
    <div class="row">
        <div class="col mt-5">
            <h3>Edit Your Comment</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <form action="{% url 'edit_comment' comment.id comment.resort.slug %}" method="post" class="m-0 p-0">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-org">Edit Comment</button>
                <br><br>
                <small class="text-muted">* edits require admin approval again.</small>
            </form>
        </div>
    </div>
</div>

{% endblock %}