{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- Resort Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
            {% for resort in resort_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in resort.featured_image.url %}
                                <img class="card-img-top" {% load static %} src="{% static "media/resort-placeholder.jpeg">
                                {% else %}
                                <img class="card-img-top" src=" {{ resort.featured_image.url }}">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="resort-name">Resort: {{ resort. }}</p>
                                </div>
                            </div>
                            <a href="#" class="resort-link">
                                <h2 class="card-title">{{ resort.resort }}</h2>
                            </a>
                            <hr />
                            <p class="card-text text-muted h6"><i class="far fa-heart"></i>
                                {{ rating.star_rating }}</p>
                        </div>
                    </div>
                </div>
            {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
            {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{%endblock%}