{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}


<div class="card w-100 text-style" style="width: 18rem;">
    {% if "placeholder" in resort.image.url %}
    <img {% load static %} src="{% static '/media/resort-placeholder.jpeg' %}" class="card-img-top"
        alt="ski resorts picture">
    {% else %}
    <img class="card-img-top" src=" {{ resort.image.url }}">
    {% endif %}
    <div class="card-body">
        <h5 class="card-title resort">{{ resort.resort }}</h5>
        <p class="text-p">{{ resort.description | safe }}</p>
        <hr />
        <div>
            <h3 class="text-h3"><i class="fa-solid fa-map-pin"></i> Find us here</h3>
            <p class="text-p">{{ resort.location_address | safe }}</p>
            <p class="text-p">{{ resort.country | safe }}</p>
        </div>
        <hr />
        <div>
            <h3 class="text-h3"><i class="fa-solid fa-clock"></i> We are open</h3>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th scope="row">Opening Season</th>
                        <td>{{ resort.opening_season| safe }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Opening Hours</th>
                        <td>{{ resort.hours| safe }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <h3 class="text-h3"><i class="fa-solid fa-circle-info"></i> We offer</h3>
            <table class="table table-bordered table-responsive">
                <tbody>
                    <tr>
                        <th scope="row">Ski Rentals</th>
                        {% if resort.has_ski_rentals %}
                        <td><i class="fa-solid fa-check"></i></td>
                        {% else %}
                        <td><i class="fa-solid fa-xmark"></i></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th scope="row">Ski Lessons</th>
                        {% if resort.has_ski_lessons %}
                        <td><i class="fa-solid fa-check"></i></td>
                        {% else %}
                        <td><i class="fa-solid fa-xmark"></i></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th scope="row">Accommodation</th>
                        {% if resort.offers_accommodation %}
                        <td><i class="fa-solid fa-check"></i></td>
                        {% else %}
                        <td><i class="fa-solid fa-xmark"></i></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th scope="row">Restaurants</th>
                        <td>
                            {{ resort.restaurants| safe }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <h3 class="text-h3"><i class="fa-solid fa-money-check-dollar"></i> Prices</h3>
            <table class="table table-bordered table-responsive">
                <tr>
                    <th scope="row">Children</th>
                    <td>{{ resort.children_ski_pass_price| safe }}</td>
                </tr>
                <tr>
                    <th scope="row">Adults</th>
                    <td>{{ resort.adults_ski_pass_price| safe }}</td>
                </tr>
            </table>
        </div>
        <div>
            <h3 class="text-h3"><i class="fa-solid fa-cable-car"></i> Lifts</h3>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th scope="row">Gondola Lift</th>
                        {% if resort.gondola_lifts %}
                        <td><i class="fa-solid fa-check"></i></td>
                        {% else %}
                        <td><i class="fa-solid fa-xmark"></i></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th scope="row">Chair Lift</th>
                        {% if resort.chair_lifts %}
                        <td><i class="fa-solid fa-check"></i></td>
                        {% else %}
                        <td><i class="fa-solid fa-xmark"></i></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th scope="row">Button Lift</th>
                        {% if resort.button_lifts %}
                        <td><i class="fa-solid fa-check"></i></td>
                        {% else %}
                        <td><i class="fa-solid fa-xmark"></i></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th scope="row">Moving Carpet</th>
                        {% if resort.moving_carpet_lifts %}
                        <td><i class="fa-solid fa-check"></i></td>
                        {% else %}
                        <td><i class="fa-solid fa-xmark"></i></td>
                        {% endif %}
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <h3 class="text-h3"><i class="fa-solid fa-mountain-sun"></i> Slopes</h3>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th scope="row">Number of Easy Slopes</th>
                        <td>{{ resort.easy_slopes| safe }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Number of Intermediate Slopes</th>
                        <td>{{ resort.intermediate_slopes| safe }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Number of Difficult Slopes</th>
                        <td>{{ resort.difficult_slopes| safe }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="card-body col-sm-4">
            <span><i class="fa-regular fa-star"></i></span>
            <span class="text-p">Rating</span>
            <span>{{ rating }}</span>
        </div>
        <div class="card-body col-sm-4">
            {% with comments.count as total_comments %}
            <span><i class="fa-regular fa-comment"></i></span>
            <span class="text-p">Comments</span>
            <span>{{ total_comments }}</span>
            {% endwith %}
        </div>
        <div class="card-body col-sm-4">
            <span><i class="fa-regular fa-share-from-square"></i></span>
            <span class="text-p">Share</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 card mb-4 mt-3">
            <h3 class="text-h3 pt-2 px-2">Comments:</h3>
            <div class="card-body">
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        {{ comment.name }}
                        <span class=" text-muted font-weight-normal">
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    {{ comment.body | linebreaks }}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-4  mt-3 ">
            <div class="card-body">
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting approval
                </div>
                {% else %}
                {% if user.is_authenticated %}

                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}