{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}

{% load static %}

<div class="card w-100 text-style">
    {% if "placeholder" in resort.main_image.url %}
    <img src="{% static 'images/resort-placeholder.webp' %}" class="img-thumbnail main-img"
        alt="ski resorts picture">
    {% else %}
    <img class="img-thumbnail main-img" src=" {{ resort.main_image.url }}">
    {% endif %}
    <div class="resort-name">
        <h5 class="resort-h5"> {{ resort.resort }}</h5>
    </div>
    <div class="resort-country">
        <h5 class="country-h5">{{ resort.country.name }} <i class="fa-solid fa-map-pin"></i></h5>
    </div>
    <div class="card-body">
        <p class="text-p" style="font-family: Josefin Sans, sans-serif;">{{ resort.description | safe }}</p>
        <hr />
        <div>
            <h3 class="text-h3"><i class="fa-solid fa-map-pin"></i> Find us here</h3>
            <p class="text-p">{{ resort.location_address | safe }}</p>
        </div>
        <hr />
        <div id="carouselExampleIndicators" class="carousel slide mb-4">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                {% if "placeholder" in resort.image_one.url %}
                <img src="{% static 'images/resort-placeholder.webp' %}" class="d-block w-100" alt="...">
                {% else %}
                <img src="{{ resort.image_one.url }}" class="d-block w-100" alt="...">
                {% endif %}
              </div>
              <div class="carousel-item">
                {% if "placeholder" in resort.image_one.url %}
                <img src="{% static 'images/resort-placeholder.webp' %}" class="d-block w-100" alt="...">
                {% else %}
                <img src="{{ resort.image_two.url }}" class="d-block w-100" alt="...">
                {% endif %}
              </div>
              <div class="carousel-item">
                {% if "placeholder" in resort.image_one.url %}
                <img src="{% static 'images/resort-placeholder.webp' %}" class="d-block w-100" alt="...">
                {% else %}
                <img src="{{ resort.image_three.url }}" class="d-block w-100" alt="...">
                {% endif %}
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        <div>
            <h3 class="text-h3"><i class="fa-solid fa-clock"></i> We are open</h3>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th scope="row">Opening Season</th>
                        <td>{{ resort.opening_season| safe }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Opening Hours</th>
                        <td>{{ resort.hours| safe }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <h3 class="text-h3"><i class="fa-solid fa-circle-info"></i> We offer</h3>
            <table class="table table-bordered table-responsive">
                <tbody>
                    <tr>
                        <th scope="row">Ski Rentals</th>
                        {% if resort.has_ski_rentals %}
                        <td><i class="fa-solid fa-check"></i></td>
                        {% else %}
                        <td><i class="fa-solid fa-xmark"></i></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th scope="row">Ski Lessons</th>
                        {% if resort.has_ski_lessons %}
                        <td><i class="fa-solid fa-check"></i></td>
                        {% else %}
                        <td><i class="fa-solid fa-xmark"></i></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th scope="row">Accommodation</th>
                        {% if resort.offers_accommodation %}
                        <td><i class="fa-solid fa-check"></i></td>
                        {% else %}
                        <td><i class="fa-solid fa-xmark"></i></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th scope="row">Restaurants</th>
                        <td>
                            {{ resort.restaurants| safe }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <h3 class="text-h3"><i class="fa-solid fa-money-check-dollar"></i> Prices</h3>
            <table class="table table-bordered table-responsive">
                <tr>
                    <th scope="row">Children</th>
                    <td>{{ resort.children_ski_pass_price| safe }}</td>
                </tr>
                <tr>
                    <th scope="row">Adults</th>
                    <td>{{ resort.adults_ski_pass_price| safe }}</td>
                </tr>
            </table>
        </div>
        <div>
            <h3 class="text-h3"><i class="fa-solid fa-cable-car"></i> Lifts</h3>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th scope="row">Gondola Lift</th>
                        {% if resort.gondola_lifts %}
                        <td><i class="fa-solid fa-check"></i></td>
                        {% else %}
                        <td><i class="fa-solid fa-xmark"></i></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th scope="row">Chair Lift</th>
                        {% if resort.chair_lifts %}
                        <td><i class="fa-solid fa-check"></i></td>
                        {% else %}
                        <td><i class="fa-solid fa-xmark"></i></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th scope="row">Button Lift</th>
                        {% if resort.button_lifts %}
                        <td><i class="fa-solid fa-check"></i></td>
                        {% else %}
                        <td><i class="fa-solid fa-xmark"></i></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th scope="row">Moving Carpet</th>
                        {% if resort.moving_carpet_lifts %}
                        <td><i class="fa-solid fa-check"></i></td>
                        {% else %}
                        <td><i class="fa-solid fa-xmark"></i></td>
                        {% endif %}
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <h3 class="text-h3"><i class="fa-solid fa-mountain-sun"></i> Slopes</h3>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th scope="row">Number of Easy Slopes</th>
                        <td>{{ resort.easy_slopes| safe }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Number of Intermediate Slopes</th>
                        <td>{{ resort.intermediate_slopes| safe }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Number of Difficult Slopes</th>
                        <td>{{ resort.difficult_slopes| safe }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr />
    <div class="row row-cols-3 text-center">
        <div class="card-body">
            <span class="text-uppercase about">Rating</span><br>
            <span><i class="fa-solid fa-star"></i></span>
            <span>{{ resort.average_rating }}</span>
        </div>
        <div class="card-body">
            {% with comments.count as total_comments %}
            <span class="text-uppercase about">Comments</span><br>
            <span><i class="fa-solid fa-comment"></i></span>
            <span>{{ total_comments }}</span>
            {% endwith %}
        </div>
        <div class="card-body">
            <span class="text-uppercase about">Share</span><br>
            <span><i class="fa-regular fa-share-from-square"></i></span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <h3 class="text-h3"><i class="fa-solid fa-comments"></i> Comments</h3>
                {% for comment in comments %}
                <div class="comments">
                    <span class="font-weight-bold commenter">
                        {{ comment.name }}
                    </span>
                    <span class="comment-body">
                        {{ comment.body }}
                    </span>
                    <div class="comment-date">
                        {{ comment.created_on }}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card-body">
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting approval
                </div>
                {% else %}
                {% if user.is_authenticated %}

                <h3 class="text-h3 comment">Leave a comment<i class="fa-solid fa-comment-dots"></i></h3>
                <p class="text-p">
                    You are posting as: {{ user.username }}
                </p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-sign">Submit</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row row-cols-1 text-center q-area">
        <div class="card-body">
            <h3 class="text-uppercase text-h3 text-white">Questions?</h3>
            <a href="" class="contact-resort">Contact this resort here</a>
        </div>
    </div>
</div>
{% endblock content %}